aniso8601==7.0.0
asgiref==3.2.10
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
Django==3.0.8
django-cors-headers==3.4.0
django-environ==0.4.5
django-extensions==3.0.3
django-filter==2.0.0
et-xmlfile==1.0.1
graphene==2.1.8
graphene-django==2.12.1
graphene-mongo==0.2.13
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.10
iso8601==0.1.12
jdcal==1.4.1
lxml==4.5.2
mongoengine==0.20.0
mwclient==0.10.1
oauthlib==3.1.0
openpyxl==3.0.4
promise==2.3
pymongo==3.10.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
-e git+https://gtsvn.uit.no/langtech/trunk/tools/TermWikiImporter@40d3fd89b1b692c3c6dbb0076fce7b7372f985f0#egg=TermwikiImporter
Unidecode==1.1.1
urllib3==1.25.10
